<!DOCTYPE html>
<html lang="ro">

<head>
    <title>Error</title>
    <%- include("./fragments/head.ejs") %>
        <style>
            #error_image {
                width: 25%;
                margin: 0 auto;
                display: block;
            }

            pre {
                overflow: scroll;
                width: 90%;
            }
        </style>
</head>

<body>
    <%- include("./fragments/header.ejs") %>
        <main>
            <div class="text-container">
                <h2>
                    <%- locals.statuscode || "Unknown error" %>
                </h2>
                <img id="error_image" src="<%-locals.image%>" alt="Error message">
                <% if ((err) && (err.stack)){ %>
                    <hr>
                    <pre>
                        <%- err.stack %>
                    </pre>
                    <% } %>
            </div>
        </main>
</body>

</html>