<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <%- include("./fragments/head.ejs") %>
        <style>
            #clicker_button {
                padding: 15px 25px;
                font-size: 24px;
                text-align: center;
                cursor: pointer;
                outline: none;
                color: #fff;
                background-color: #04AA6D;
                border: none;
                border-radius: 15px;
                box-shadow: 0 9px #999;
            }

            #clicker_button:hover {
                background-color: #3e8e41
            }

            #clicker_button:active {
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
        </style>

        <script>
            async function increaseCounter() {
                fetch("/api/credits").then(async (data) => {
                    const json = await data.json()
                    if (json.status == true) {
                        document.getElementById("credits_score").innerHTML = `You currently have ${json.data.credits} credits.`
                    } else {
                        alert(json.message)
                    }
                })
            }
            async function onChangeInput(args) {
                if (parseInt(args.oldvalue) > parseInt(args.value)) {
                    args.value = args.oldvalue
                } else {
                    let id
                    for (let x of args.classList) {
                        if (x.startsWith('id_service')) {
                            id = parseInt(x.replace('id_service', ''))
                        }
                    }
                    const data = await fetch(`/api/services/increase/${id}`)
                    const json = await data.json()
                    if (json.success == true) {
                        console.log('Done')
                        return true
                    } else {
                        // TODO:
                    }
                }
            }
        </script>
</head>

<body>
    <%- include("./fragments/header.ejs") %>
        <h2>Play</h2>
        <p id="credits_score"> You currently have <%- locals.user.userCredits%> credits.</p>
        <button id="clicker_button" onclick="increaseCounter()">
        </button>

        <% if(locals.services){ %>
            <div id="services_div">
                <% for(let service of locals.services){ %>
                    <div class="service">
                        <p class="serviceName">Name:
                            <%- service.serviceName %>
                        </p>
                        <p class="serviceDescription">Description:
                            <%- service.serviceDescription %>
                        </p>
                        <% let price %>
                            <% let value %>
                                <% let level %>
                                    <% if(service.boughtservices.length>0){ %>
                                        <% //price=service.serviceBasePrice %>
                                            <% value=service.boughtservices[0].serviceLevel %>
                                                <% level=service.boughtservices[0].serviceLevel %>

                                                    <% } else{ %>
                                                        <% price=service.serviceBasePrice %>
                                                            <% value=service.serviceBaseValue %>
                                                                <% level=0 %>
                                                                    <%} %>
                                                                        <p class="servicePrice">
                                                                            Price: <%- price %>
                                                                        </p>
                                                                        <p class="serviceValue">
                                                                            Value per Cycle: <%- value %>
                                                                        </p>
                                                                        <p>Level:</p>
                                                                        <input type="number"
                                                                            class="level id_service<%-service.idService %>"
                                                                            min="0" max="<%- service.serviceMaxLevel %>"
                                                                            onfocus="this.oldvalue = this.value;"
                                                                            step="1" value="<%- level %>"
                                                                            onKeyDown="return false"
                                                                            onchange="onChangeInput(this);this.oldvalue = this.value;">


                    </div>
                    <% }%>

            </div>

            <% }%>

</body>

</html>