<!DOCTYPE html>
<html>

<head>
    <title>Room - <%- room.roomName %>
    </title>
    <%- include("./fragments/head.ejs") %>
        <style>
            #room_options{
                display: none;
            }
        </style>
        <script>
            function showForm() {
                document.getElementById('inviteForm').style.display = 'block'
                document.getElementById('showInviteForm').style.display = 'none'
            }
            function hideForm() {
                document.getElementById('inviteForm').style.display = 'none'
                document.getElementById('showInviteForm').style.display = 'block'
            }
            async function deleteUser(idRoom, idUser){
                if (!idRoom || !idUser)
                    return
                const request = await fetch(`/api/rooms/${idRoom}/${idUser}`,  {method: 'DELETE'})
                const data = await request.json()
                if (data.success == false)
                    return alert(data.message)
                return location.reload()
            }
            async function transferOwnership(idRoom, idUser){
                if (!idRoom || !idUser)
                    return
                const request = await fetch(`/api/rooms/${idRoom}/${idUser}`,  {method: 'POST'})
                const data = await request.json()
                if (data.success == false)
                    return alert(data.message)
                return location.reload()
            }
            async function increasePrivilege(idRoom, idUser){
                if (!idRoom || !idUser)
                    return
                const request = await fetch(`/api/rooms/${idRoom}/${idUser}`,  {method: 'PATCH'})
                const data = await request.json()
                if (data.success == false)
                    return alert(data.message)
                return location.reload()
            }
            async function addUser(){
                const userName = document.getElementById('memberContactInfo').value
                if (!userName || userName.length==0)
                    return
                const body = { userName}
                const request = await fetch(`/api/rooms/<%- room.idRoom%>`, {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                        "Content-Length": JSON.stringify(body).length
                    },
                    body: JSON.stringify(body)
                })
                const data = await request.json()
                if (data.success == false)
                    alert(data.message)
                else
                    location.reload()
            }
            async function renameRoom(){
                const roomName = document.getElementById('rename_text').value
                if (!roomName || roomName.length == 0)
                    return
                const body = { roomName }
                const request = await fetch(`/api/rooms/<%- room.idRoom%>`, {
                    method: 'PATCH',
                    headers: {
                        "Content-Type": "application/json",
                        "Content-Length": JSON.stringify(body).length
                    },
                    body: JSON.stringify(body)
                })
                const data = await request.json()
                if (data.success == false)
                    alert(data.message)
                else
                    location.reload()
            }
            async function deleteRoom(){
                const request = await fetch(`/api/rooms/<%- room.idRoom%>`, {
                    method: 'DELETE'
                })
                const data = await request.json()
                if (data.success == false)
                    alert(data.message)
                else
                    window.location.replace('/')
            }
            <% if(getValueOfPrivilege(locals.privilege.roomRole) >= 1){ %>
            function showRoomOptions(){
                document.getElementById('room_options').style.display = 'block'
                document.getElementsByTagName('h3')[0].style.display= 'none'
            }
            function hideRoomOptions(){
                document.getElementsByTagName('h3')[0].style.display= 'block'
                document.getElementById('room_options').style.display = 'none'
            }
            <%}%>
            async function createGame(){
                const request = await fetch(`/api/rgg/<%- room.idRoom%>`, {method: 'POST'})
                const data = await request.json()
                if (data.success == false)
                    alert(data.message)
                else
                    location.reload()

            }
            async function addOption(){
                const optionName = document.getElementById('add_option').value
                const points = document.getElementById('option_points').value
                if (!optionName || optionName.length==0 || points==0)
                    return
                const body = { optionName, points}
                const request = await fetch(`/api/rgg/option/<%- room.idRoom%>`, {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                        "Content-Length": JSON.stringify(body).length
                    },
                    body: JSON.stringify(body)
                })
                const data = await request.json()
                if (data.success == false){
                    alert(data.message)
                }
                else
                    location.reload()
            }
        </script>
</head>

<body>
    <%- include("./fragments/header.ejs") %>
        <main>
            <% //TODO: h3 hidden, display textbox, rename button changes name and refresh, add logic, finish commit%>
            <% console.log(getValueOfPrivilege(locals.privilege.roomRole)) %>
            <% if(getValueOfPrivilege(locals.privilege.roomRole) >= 1){%>
            <h3 onclick="showRoomOptions()" tabindex='-1'>
                <%- room.roomName %>
            </h3>
            <div id="room_options" >
                <input type="text" id="rename_text"> 
                <button id="rename_button" onclick="renameRoom()">Rename</button>
                <% if(getValueOfPrivilege(locals.privilege.roomRole) == ownerLevel){%>
                    <button onclick="if(confirm(`Delete room <%- room.roomName %>`)) deleteRoom()" id="delete_button">Delete Room</button>
                <%} %>
                <button id="cancel_button" onclick="hideRoomOptions()">Cancel</button>
            </div>
            <%} else { %>
                <h3>
                    <%- room.roomName %>
                </h3>
                <%} %>
            <!-- TODO: Room Options (Roll Service) -->
            <% if(room.idUserUsersRoomparticipants.length>1){ %>
                <div class="participants">
                    <p>Other members of <%- room.roomName%>: </p>
                    <% const current_privilege = room.idUserUsersRoomparticipants.find(obj => {return obj.idUser == user.idUser}).roomparticipants %>
                    <% for(let member of room.idUserUsersRoomparticipants){ %>
                        <% if(member.idUser !=user.idUser){ %>
                            <div class="participant>" id="participant_div<%- member.idUser%>" tabindex="-1">
                                <p>
                                    <%- `${member.userFirstName} ${member.userLastName} -
                                        ${member.roomparticipants.roomRole}`%>
                                </p>
                                <% if(getValueOfPrivilege(current_privilege.roomRole) != 0 && testPrivilege(current_privilege.roomRole, member.roomparticipants.roomRole)){%>
                                    <style>
                                        #<%-`user_menu${member.idUser}`%> {
                                            display: none;
                                        }
                                        #<%-`participant_div${member.idUser}`%>:active #<%-`user_menu${member.idUser}`%>,
                                        #<%-`participant_div${member.idUser}`%>:focus #<%-`user_menu${member.idUser}`%> {
                                            display: block;
                                        }
                                    </style>
                                <nav id="user_menu<%- member.idUser%>">
                                    <ul>
                                        <% if(getValueOfPrivilege(current_privilege.roomRole)==ownerLevel && getValueOfPrivilege(member.roomparticipants.roomRole)==0){%>
                                        <li>
                                            <button onclick="if (confirm('Promote to Admin?')) increasePrivilege(<%-`${member.roomparticipants.idRoom}, ${member.idUser}`%>) ">Promote</button>
                                        </li>
                                        <% console.log(getValueOfPrivilege(current_privilege.roomRole), ownerLevel) %>
                                        <%}if(getValueOfPrivilege(current_privilege.roomRole)==ownerLevel) {%>
                                            <li>
                                                <button onclick="if (confirm('Transfer Ownership?')) transferOwnership(<%-`${member.roomparticipants.idRoom}, ${member.idUser}`%>)">Transfer Ownership</button>
                                            </li>
                                            <%} %>
                                        <li>
                                            <button onclick="if (confirm('Remove User?')) deleteUser(<%-`${member.roomparticipants.idRoom}, ${member.idUser}`%>) ">Remove User</button>
                                        </li>
                                        <li>
                                            <button onclick="alert('TODO')">View User</button>
                                        </li>
                                    </ul>
                                </nav>
                                <%} %>
                                
                            </div>
                            <%} %>
                                <%} %>

                </div>
                <%} else{ %>
                    <p>There are curently no other users in this room.</p>
                    <%} %>
                    <% if(getValueOfPrivilege(locals.privilege.roomRole) >= 1){%>
                        <input type="button" id="showInviteForm" value="Add other memebers" onclick="showForm()" />
                        <div id="inviteForm" style="display: none;">
                            <form onsubmit="addUser(); return false;">
                                <input type="text" id="memberContactInfo">
                                <input type="submit" value="Send"/>
                                <input type="button" value="Cancel" onclick="hideForm()" />
                            </form>
                        </div>
                        <%} %>
                        <% console.log(room.randomguessgames.length) %>
                <br/>
                <% if(!Object.values(room.randomguessgames).some(x => x.randomGuessGameFinishDate == null)){%>
                    <button onclick="createGame()">Create a new game</button>
                <% } %>
                <% if(room.randomguessgames.length>0){ %>
                <% room.randomguessgames.sort((a, b)=> {return a.randomGuessGameFinishDate - b.randomGuessGameFinishDate})%>
                <div class="rgg-games">
                    <% for(let game of room.randomguessgames){%>
                        <% console.log(game) %>
                        <div class="rgg-game">                            
                            <pre>
                                <%- JSON.stringify(game) %>
                            </pre>
                            <% if(game.randomGuessGameFinishDate == null) {%>
                                <p class="rgg_time"> Created at: <%- game.randomGuessGameCreateDate%> </p>
                                <% console.log('aaa', game) %>
                                <% console.log('aaa', game.randomguessoptions) %>
                                <% if(game.randomguessoptions.length>0){ %>
                                    <% currentOptions = game.randomguessoptions.filter(e => e.idUser==user.idUser)%>
                                    <p>Current options: </p>
                                    <ul>
                                        <% for(let elem of currentOptions){%>
                                            <li> <%- elem.optionName%> (<%- elem.points %>)</li>
                                            <%}%>
                                    </ul>
                                <%} %> 
                                <input id="add_option">
                                <input id="option_points" type="number" min="0" max="<%- user.userCredits %>">
                                <button onclick="addOption()">Add new option</button>
                                <button onclick="alert('TODO')">Mark as ready</button>
                                <button onclick="alert('TODO')">Start game</button>


                            <% } else {%>
                                <p class="rgg_time"> Finished at: <%- game.randomGuessGameFinishDate%> </p>
                                <% if(game.randomguessoptions.length>0){ %>
                                    <p class="my_options"> My options: <%- game.randomguessoptions.filter(e => e.idUser==user.idUser).map(e => e.optionName).join(",")%></p>
                                    <% const winningChoice = game.randomguessoptions.filter(e => e.winner==true)[0] %>
                                    <% if(winningChoice != null){ %>
                                        <p class="winning_choice">Winning Choice: <%- winning_choice.optionName %></p>
                                        <% }%>

                                <%} %> 
                                
                            <%} %>
                        </div>
                    <% }%>
                </div>
                <%} else{ %>
                    <p> Theare are no games.</p>
                    <%} %>
        </main>

</body>

</html>